@import url("https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.font-familjen-grotesk {
  font-family: "Familjen Grotesk";
}

.font-inter {
  font-family: "Inter";
}

.font-tino {
  font-family: "tino";
}

.font-hanken-grotesk {
  font-family: "Hanken Grotesk";
}

.text-accent-yellow {
  color: #daff00;
}

.bg-accent-yellow {
  background-color: #daff00;
}

#navbar {
  top: 0;
}

.navbar-hidden {
  top: -100% !important;
  transition: all ease-in-out 0.2s;
}

.px-section {
  padding: 2rem 1rem;
}

.text-cqw-8 {
  font-size: 8cqw;
  line-height: 0.9;
}

.heading-2 {
  font-size: 3cqw;
}

.education-item-expanded {
  gap: 2rem;
}

.education-item-collapsed {
  gap: 0;
}

.education-item-expanded .content {
  height: auto;
  padding-bottom: 1rem;
}

.education-item-collapsed .content {
  height: 0;
  overflow: hidden;
  padding: 0;
}
.education-item-expanded .collapse-icon,
.education-item-collapsed .expand-icon {
  display: flex;
}

.education-item-expanded .expand-icon,
.education-item-collapsed .collapse-icon {
  display: none;
}

.writing-mode-vert {
  writing-mode: vertical-lr;
  transform: scale(-1);
}

.work-expanded {
  flex: 1;
}

.work-expanded .slash {
  color: #daff00;
}

.work-expanded .slash {
  /* color: #daff00; */
}

.work-expanded .work-content {
  width: auto;
  height: auto;
  flex: 1;
}

.work-collapsed .work-content {
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
}

.delorean-shadow {
  box-shadow: 2px 2px 15px rgb(255, 255, 255, 1);
}

@media screen and (max-width: 640px) {
  .heading-2 {
    font-size: 5cqw;
  }

  .writing-mode-vert {
    writing-mode: horizontal-tb;
    transform: none;
  }

  .work-expanded .work-content {
    height: auto;
    flex: 1;
  }
  
  .work-collapsed .work-content {
    height: 0;
    overflow: hidden;
  }
}

@media screen and (min-width: 1320px) {
  .px-section {
    padding: 1rem 0;
  }
}

@media screen and (min-width: 1000px) {
  .text-cqw-8 {
    font-size: 90px;
  }
}
